<%= provide :title, 'about this page' %>
<div class="container">
  <div class="row">
    <div class="project-margin-column"></div>
    <div class="project">
      <h1>About</h1>

      <p>
        My name is Kamil Milewski and I come from a building automation systems background
        (almost 3 years experience as a building engineer at <%= link_to 'CORAL', 'http://coral.com.pl/' %>).
        My greatest interest is programming and web development (especially Ruby on Rails).
        Other than that I like electronics and RPG/strategic games.
        I'm a graduate in electrical engineering at
        <%= link_to 'Bialystok University of Technology', 'http://pb.edu.pl/en/' %>.
      </p>

      <p>
        On this portfolio page I'm going to show samples of my work. Most of it
        will be related to web development. There is also few examples of my work
        from building automation field.
      </p>

      <p>
        This site is written in
        <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank' %>
        and
        <%= link_to 'Bootstrap', 'http://getbootstrap.com/', target: '_blank' %>.
        Its source code is hosted on 
        <%= link_to 'https://github.com/KamilMilewski/km-personal-page', target: '_blank' do %>
          GitHub <i class="fa fa-github" aria-hidden="true"></i>
        <% end %>
      </p>

    </div>
    <div class="project-margin-column"></div>
  </div>
</div>
