<%= provide :title, 'personal page' %>
<%= render 'jumbotron' %>

<div class="container">
<h2>Selected work:</h2>
<br>

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <%= image_tag 'IT/KM-Forum/km-forum-homepage.png', alt: 'km-forum-homepage' %>
        <div class="caption">
          <h3>KM-Forum</h3>
          <p>Discussion board web application written in Ruby on Rails and Bootstrap. It's simple and responsive to mobile devices.</p>
          <p>
            <a href="https://km-forum.herokuapp.com/" class="btn btn-default" role="button">Open Website</a>
            <a href="" class="btn btn-default" role="button">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <%= image_tag 'CORAL/DALI/jurowiecka_dali_visualization.png', alt: 'km-forum-homepage' %>
        <div class="caption">
          <h3>DALI visualization and control</h3>
          <p>DALI stands for Digital Addressable Lighting Interface.
            Took main part in commissioning, programming and created visualization for
            Galeria Jurowiecka indoor light control.</p>
          <p><a href="" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <%= image_tag 'CORAL/weather_station/screen.bmp', alt: 'km-forum-homepage' %>
        <div class="caption">
          <h3>Weather station visualization</h3>
          <p>Created weather station visualization and integrated it with web API.</p>
          <p><a href="" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <%= image_tag 'CORAL/reports/mck_reports.png', alt: 'km-forum-homepage' %>
        <div class="caption">
          <h3>Data acquisition report server</h3>
          <p>Integrated Microsoft report server with Schneider StruxureWare Building Operation software.</p>
          <p><a href="" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <%= image_tag 'CORAL/reflex/reflex_vizual_mck.png', alt: 'km-forum-homepage' %>
        <div class="caption">
          <h3>Hydrofor visualization</h3>
          <p>Created visualization for Reflex hydrofor pump controller.</p>
          <p><a href="" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>

  </div>

<%= render 'layouts/footer' %>

</div>
